<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yc.bean.Favorite">
	<!-- 加入带日志的  ehcache缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" >
	 </cache>
	<!-- 查询链接:   查询所有/查询未分类
		 未分类  ->  ftags=null
		 查询所有          ftags=''
		 if 
	 -->
	<select id="selectFavoriteAll" resultType="Favorite" parameterType="Favorite">
		select fid,flabel,furl,ftags,fdesc from favorite where 1=1
		<choose>
			<when test="ftags==null"> 
				and ftags=''
			</when>
			<when test="ftags=''"> 
				
			</when>
			
		</choose>
	</select>
	
	<!-- 添加链接 -->
	<insert id="addFav" parameterType="Favorite" useGeneratedKeys="true" keyProperty="fid" >
		insert into favorite(flabel,furl,ftags,fdesc) values(#{flabel},#{furl},#{ftags},#{fdesc})
	</insert>
	
</mapper>
